.hidden {
    display:none;
}


.page-1-layout{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: 
        "hdr start-button"
        "my-grid ships-container";
}

.page-2-layout{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr ;
    grid-template-areas: 
        "hdr hdr"
        "my-grid comp-grid";
}





header{
    grid-area: hdr;
    font-size: 10vh;
    justify-self: center;
    align-self: center;
}

/* -----------My Grid-------------*/
#my-grid{
    grid-area:my-grid;
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-columns: repeat(10, 50px);
    height: 500px;
    width: 500px;
    justify-self: center;
    
}

#my-grid>div{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#my-grid>div:hover{
    background-color: cornflowerblue;
}

/* -----------Comp Grid-------------*/
#comp-grid{
    grid-area:comp-grid;
    display: none;
    grid-template-columns: repeat(10, 50px);
    grid-template-columns: repeat(10, 50px);
    height: 500px;
    width: 500px;
    justify-self: center;
    
}

#comp-grid>div{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#comp-grid>div:hover{
    background-color: cornflowerblue;
}

#buttons-container{
    grid-area: start-button;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#buttons-container>button{
    height: 30%;
    width: 80%;
}


#ships-container{
    grid-area: ships-container;
}

#ships-container>div{
    display: inline-block;;
    margin: 2px 50px;
}
 
#ships-container>div>div{
    height: 50px;
    width: 50px;
}

#carrier{
    flex-direction: row;
}

#carrier>div{
    background-color: rgb(252, 186, 162);
}   

#battleship{
    flex-direction: row;
}

#battleship>div{
    background-color: rgb(130, 191, 248);
}   

#cruiser{
    flex-direction: row;
}

#cruiser>div{
    background-color: rgb(184, 241, 161);
}   

#submarine{
    flex-direction: row;
}

#submarine>div{
    background-color: rgb(200, 169, 236);
} 

#patrol1{
    flex-direction: row;
}

#patrol1>div{
    background-color: rgb(248, 221, 130);
}   

#patrol2{
    flex-direction: row;
}

#patrol2>div{
    background-color: rgb(248, 221, 130);
}   

.selected {
    border: 5px solid black;
}

.horizantal {
    transform: rotate(90deg);
}