
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500;900&display=swap');

body{
    font-family: 'Orbitron', sans-serif;
    background-color: #01012b;
    color:white;
}

.hidden {
    display: none;
}


.page-1-layout{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: 
        "hdr hdr"
        "my-grid ships-container";
}

.page-2-layout{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 60px 2fr ;
    grid-template-areas: 
        "hdr hdr"
        "comp-turn my-turn"
        "my-grid comp-grid";
}

header{
    grid-area: hdr;
    font-size: 10vh;
    justify-self: center;
    align-self: center;
    color: white
}
/* -----------Turn Indicators-------------*/
#comp-turn {
    grid-area: comp-turn;
    display: none;
    justify-content: center;
    align-items: center;
}


#my-turn {
    grid-area: my-turn;
    display:none;
    justify-content: center;
    align-items: center;
}

p {
    display: inline-block;
    padding: 6px;
    font-size: 20px;
    border-radius: 6px;
   
    margin: 20px;
}

.turn-indicator-on {
    font-weight: bold;
    color: rgb(101, 214, 101);
    background-color: rgb(225, 241, 200);
    border: 2px solid rgb(101, 214, 101);
    box-shadow: 0 0 10px 10px greenyellow;

}

.turn-indicator-off {
    color: rgb(204, 204, 204);
    background-color: rgb(228, 228, 228);
    border: 2px solid rgb(204, 204, 204);
}


/* ---------------------Grid-----------------------*/

.grid {
    grid-template-columns: repeat(10, 4vw);
    grid-template-columns: repeat(10, 4vw);
    height: 40vw;
    width: 40vw;
    justify-self: center;
}

.grid>div {
    border: 1px solid rgb(255, 255, 255);
    background-color: #162a53;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vh;
    color: white;
}

#my-grid{
    grid-area:my-grid;
    display: grid;
    margin: 20px 5px 30px 30px;
}

#comp-grid{
    grid-area:comp-grid;
    display: none;
    margin: 20px 30px 30px 5px;
}

#my-grid>div:hover{
    background-color: rgb(235, 93, 93);
}

#comp-grid>div:hover{
    background-color: cornflowerblue;
}

/* -------------------buttons-------------------- */
#buttons-container{
    grid-area: ships-container;
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttons-container>button{
    height: 10%;
    width: 50%;
    display:none;
    font-size: 30px;
    justify-content: center;
    align-items: center;
}


#ships-container{
    grid-area: ships-container;
}

#ships-container>div{
    display: inline-block;;
    margin: 2px 50px;
}
 
#ships-container>div>div{
    height: 40px;
    width: 40px;
}

#carrier{
    flex-direction: row;
}

#carrier>div{
    background-color: rgb(252, 186, 162);
}   

#battleship{
    flex-direction: row;
}

#battleship>div{
    background-color: rgb(130, 191, 248);
}   

#cruiser{
    flex-direction: row;
}

#cruiser>div{
    background-color: rgb(184, 241, 161);
}   

#submarine{
    flex-direction: row;
}

#submarine>div{
    background-color: rgb(200, 169, 236);
} 

#patrol1{
    flex-direction: row;
}

#patrol1>div{
    background-color: rgb(248, 221, 130);
}   

#patrol2{
    flex-direction: row;
}

#patrol2>div{
    background-color: rgb(248, 221, 130);
}   

.selected {
    box-shadow: 0 0 15px 2px rgb(255, 255, 255);
}

.horizantal {
    transform: rotate(90deg);
}